{% block bnhtranslations_widget %}
    {% spaceless %}  

        {% set currentFieldName = form.currentFieldName.vars.value %}
        
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for locale in locales %}
                    {% set TabHref = '#tab_translate_' ~ locale ~ '_' ~ currentFieldName %}
                    
                    {# tab localecode same as selected ? #}
                    {% if locale == currentlocale %}
                        {% set ActiveTab = 'active' %}
                    {% else %}
                        {% set ActiveTab = '' %}
                    {% endif %}
                    
                    <li class="{{ ActiveTab }}">
                        <a aria-expanded="true" href="{{ TabHref }}" data-toggle="tab">
                            {# TAB label #}
                            {{ tranlatedtablocales[locale] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
            <div class="tab-content">
                {% for locale in locales %}
                    {% set TabId = 'tab_translate_' ~ locale ~ '_' ~ currentFieldName %}
 
                    {# tab localecode same as selected ? #}
                    {% if locale == currentlocale %}
                        {% set ActiveContent = 'active' %}
                    {% else %}
                        {% set ActiveContent = '' %}
                    {% endif %}
                    
                    <div class="tab-pane {{ ActiveContent }}" id="{{ TabId }}">
                        {# CONTENT #}
                        {{ form_row(attribute(form, locale)) }}
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endspaceless %}
{% endblock %}